/*
| Includes / imports
*/
/*
| dependencies
*/
/*
| Caclucale rem size
| USAGE: @include font-size(14px)
*/
/*
| Include breakpoints
| USAGE: div { ... @include bp-small {...} ... }
*/
/*
| Include Keyframes
| USAGE: 
| @include keyframes(slide-down) {
|   0% { opacity: 1; }
|   90% { opacity: 0; }
| }
*/
/*
| Include animations
| USAGE: 
| .element {
|   width: 100px;
|   height: 100px;
|   background: black;
|   @include animation('slide-down 5s 3');
| }
*/
/*
| Include transitions
| USAGE: 
| .element {
|   @include transition(color .3s ease);
| }
*/
/*
| Include opacity - cross browser opacity
| USAGE: .faded-text {  @include opacity(0.8);  }
*/
/*
| Include opacity - cross browser opacity
| USAGE: .container-with-floated-children { @extend %clearfix; }
*/
/*
| Include opacity - cross browser opacity
| USAGE: .container-with-floated-children { @extend %clearfix; }
*/
/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
    - Usage docs: http://shopify.github.io/Timber/#sass-mixins
==============================================================================*/
/*
| (S)CSS general styles for content and font control
*/
/* line 5, ../scss/_content.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/*
| base css
*/
/*
| (S)CSS general styles and variables 
*/
/* line 5, ../scss/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, ../scss/_base.scss */
html, body {
  height: 100%;
}

/* line 14, ../scss/_base.scss */
h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}

/* line 18, ../scss/_base.scss */
h2 {
  font-size: 19px;
  font-weight: 700;
  color: #737373;
}

/* line 26, ../scss/_base.scss */
.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

/* line 31, ../scss/_base.scss */
.no-space {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 36, ../scss/_base.scss */
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/* line 43, ../scss/_base.scss */
.form-group input, .form-group select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/* line 49, ../scss/_base.scss */
.btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/* nanodesk blue*/
/* line 64, ../scss/_base.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #737373;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
}

/*-------
 Main Content divs
-------*/
/* line 81, ../scss/_base.scss */
.page-main {
  padding: 30px 0px;
  position: relative;
  overflow: hidden;
  background: url("../images/gray-light.png") top left repeat #eeeeee;
}

/* line 89, ../scss/_base.scss */
.main-content {
  background-color: white !important;
}

/*-------
  Block
-------*/
/* line 101, ../scss/_base.scss */
.block {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

/* line 108, ../scss/_base.scss */
.block-header {
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  color: #737373;
  overflow: hidden;
}
/* line 121, ../scss/_base.scss */
.block-header h2 {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

/* line 142, ../scss/_base.scss */
.block-inner {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 147, ../scss/_base.scss */
.block-upper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Konnektid buttons */
/* line 154, ../scss/_base.scss */
.btn-knd, .btn-knd-notnow, .btn-knd-no {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  height: 45px;
  padding: 0 12px;
  line-height: 45px;
  font-size: 14px;
  border: 0;
  font-weight: 700;
  color: white;
}

/* line 167, ../scss/_base.scss */
.btn-knd {
  background-color: #44b999;
}
/* line 170, ../scss/_base.scss */
.btn-knd:hover, .btn-knd:focus {
  background-color: #3fac8f;
}

/* line 176, ../scss/_base.scss */
.btn-knd-notnow {
  background-color: #a9a9a9;
}
/* line 179, ../scss/_base.scss */
.btn-knd-notnow:hover, .btn-knd-notnow:focus {
  background-color: #878787;
}

/* line 186, ../scss/_base.scss */
.btn-knd-no {
  background-color: #B594C4;
}
/* line 189, ../scss/_base.scss */
.btn-knd-no:hover, .btn-knd-no:focus {
  background-color: #9668ac;
}

/* Konnektid classes */
/* line 198, ../scss/_base.scss */
.knd-list {
  font-size: 17px;
}
/* line 200, ../scss/_base.scss */
.knd-list h3 {
  font-weight: 700;
}
/* line 205, ../scss/_base.scss */
.knd-list .knd-list-item {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
/* line 211, ../scss/_base.scss */
.knd-list .knd-user-img {
  background-size: cover;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 222, ../scss/_base.scss */
.knd-list .knd-user-title strong {
  font-weight: 700;
  color: #44b999;
}
/* line 229, ../scss/_base.scss */
.knd-list .knd-user-skill {
  text-transform: uppercase;
  font-weight: 700;
}
/* line 236, ../scss/_base.scss */
.knd-list .knd-user-joined {
  font-size: 14px;
}
/* line 241, ../scss/_base.scss */
.knd-list .knd-button-group {
  padding-top: 10px;
}

/* line 247, ../scss/_base.scss */
.learn-input {
  border: none;
  min-height: 34px;
  padding: 5px;
  margin-bottom: 0;
  width: 100%;
  clear: both;
  background: #eee;
  -webkit-box-shadow: inset 0 1px 1px #D6CECE;
  -moz-box-shadow: inset 0 1px 1px #D6CECE;
  box-shadow: inset 0 1px 1px #D6CECE;
}

/*-------
BADGES
-------*/
/* line 265, ../scss/_base.scss */
.row-no-gutter {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* line 273, ../scss/_base.scss */
.badges-list .badge-list-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
/* line 278, ../scss/_base.scss */
.badges-list .badge-list-item:nth-of-type(odd) {
  border-right: 1px solid #ddd;
}
/* line 284, ../scss/_base.scss */
.badges-list .badge-item-status {
  margin-top: 15px;
}
/* line 290, ../scss/_base.scss */
.badges-list .status-complete h2 {
  color: #3fac8f;
}

/*-------
END Block
-------*/
/* line 302, ../scss/_base.scss */
.skill-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-position: 50% 50%;
  border-radius: 10px;
  background-color: #3fac8f;
}

/* line 313, ../scss/_base.scss */
.skill-list-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
/* line 318, ../scss/_base.scss */
.skill-list-item .skill-title {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 700;
  height: 100%;
}
/* line 325, ../scss/_base.scss */
.skill-list-item .skill-progress {
  margin-bottom: 15px;
}
/* line 329, ../scss/_base.scss */
.skill-list-item .skill-goals-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 336, ../scss/_base.scss */
.teacher-rating {
  padding: 15px;
}

/* line 341, ../scss/_base.scss */
.teacher-user-ratings {
  border-left: 1px solid #ddd;
}

/* line 346, ../scss/_base.scss */
.teacher-user-rating {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* Global container */
/* line 354, ../scss/_base.scss */
.site-container {
  position: relative;
  overflow: hidden;
}

/* Global wrapper */
/* line 360, ../scss/_base.scss */
.site-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0px auto;
  max-width: 1030px;
}

/* line 368, ../scss/_base.scss */
.container {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  /* line 368, ../scss/_base.scss */
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* line 381, ../scss/_base.scss */
.site-main-holder {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 381, ../scss/_base.scss */
  .site-main-holder {
    display: table;
  }
}

@media screen and (min-width: 768px) {
  /* line 388, ../scss/_base.scss */
  .site-main__content-holder {
    display: table-cell;
    float: none;
  }
}

/* line 396, ../scss/_base.scss */
.site-main {
  background: url("../images/gray-light.png") top left repeat #eeeeee;
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 396, ../scss/_base.scss */
  .site-main {
    padding: 30px 0;
  }
}

/* line 406, ../scss/_base.scss */
.site-main__content {
  background-color: #fff;
  height: 100%;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  /* line 406, ../scss/_base.scss */
  .site-main__content {
    padding: 30px;
  }
}

/*
|
|  Modules 
|
*/
/* line 423, ../scss/_base.scss */
.module {
  margin-bottom: 30px;
}

/* line 427, ../scss/_base.scss */
.module-block__header {
  padding: 10px;
  font-weight: 700;
}

/* line 432, ../scss/_base.scss */
.module-block__content {
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 432, ../scss/_base.scss */
  .module-block__content {
    padding: 20px;
  }
}

/*
| module default styles
*/
/* line 445, ../scss/_base.scss */
.module--default {
  background-color: white;
  border: 1px solid #dcdfe4;
}
/* line 449, ../scss/_base.scss */
.module--default .module-block__header {
  border-bottom: 1px solid #dcdfe4;
}
/* line 453, ../scss/_base.scss */
.module--default .module-block__content {
  padding: 20px;
}

/*
|
|  Footer 
|
*/
/* line 468, ../scss/_base.scss */
.footer-main {
  border-top: 1px solid #dcdfe4;
  background-color: #fff;
}

/* line 474, ../scss/_base.scss */
.footer-content {
  padding: 30px 0;
}

/*
| Aida lists
*/
/* line 485, ../scss/_base.scss */
.aida-list .aida-item {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;
  padding: 15px 0;
}

/* line 496, ../scss/_base.scss */
.aida-controls {
  padding: 15px;
}

/*===============================
 MODALS
================================*/
/* line 507, ../scss/_base.scss */
.knd-modal {
  position: fixed;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  /* line 507, ../scss/_base.scss */
  .knd-modal {
    padding: 0;
  }
}
/* line 525, ../scss/_base.scss */
.knd-modal .knd-modal-holder {
  display: table-cell;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  /* line 525, ../scss/_base.scss */
  .knd-modal .knd-modal-holder {
    display: table-cell;
    vertical-align: middle;
  }
}
/* line 537, ../scss/_base.scss */
.knd-modal .knd-modal-holder .knd-modal-header {
  position: relative;
  background-color: #44b999;
  height: 60px;
  line-height: 60px;
  color: white;
}
/* line 544, ../scss/_base.scss */
.knd-modal .knd-modal-holder .knd-modal-header .knd-modal-title {
  font-weight: 600;
}
/* line 551, ../scss/_base.scss */
.knd-modal .knd-modal-holder .knd-modal-close-btn {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 561, ../scss/_base.scss */
.knd-modal .knd-modal-holder .knd-modal-close-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 567, ../scss/_base.scss */
.knd-modal .knd-modal-holder .knd-modal-body {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* UI SLIDER*/
/* line 582, ../scss/_base.scss */
.noUi-base {
  background-color: #44b999;
  border-radius: 0;
}
/* line 587, ../scss/_base.scss */
.noUi-base .noUi-origin {
  background-color: white;
}

/* line 593, ../scss/_base.scss */
.badge-bg-change {
  color: #e60053;
  animation: color_change .7s infinite alternate;
}

@-webkit-keyframes color_change {
  /* line 599, ../scss/_base.scss */
  0% {
    color: #e60053;
  }

  /* line 600, ../scss/_base.scss */
  25% {
    color: #9a00e6;
  }

  /* line 601, ../scss/_base.scss */
  50% {
    color: #e600d2;
  }

  /* line 602, ../scss/_base.scss */
  100% {
    color: #e60000;
  }
}

@-moz-keyframes color_change {
  /* line 599, ../scss/_base.scss */
  0% {
    color: #e60053;
  }

  /* line 600, ../scss/_base.scss */
  25% {
    color: #9a00e6;
  }

  /* line 601, ../scss/_base.scss */
  50% {
    color: #e600d2;
  }

  /* line 602, ../scss/_base.scss */
  100% {
    color: #e60000;
  }
}

@-ms-keyframes color_change {
  /* line 599, ../scss/_base.scss */
  0% {
    color: #e60053;
  }

  /* line 600, ../scss/_base.scss */
  25% {
    color: #9a00e6;
  }

  /* line 601, ../scss/_base.scss */
  50% {
    color: #e600d2;
  }

  /* line 602, ../scss/_base.scss */
  100% {
    color: #e60000;
  }
}

@-o-keyframes color_change {
  /* line 599, ../scss/_base.scss */
  0% {
    color: #e60053;
  }

  /* line 600, ../scss/_base.scss */
  25% {
    color: #9a00e6;
  }

  /* line 601, ../scss/_base.scss */
  50% {
    color: #e600d2;
  }

  /* line 602, ../scss/_base.scss */
  100% {
    color: #e60000;
  }
}

@keyframes color_change {
  /* line 599, ../scss/_base.scss */
  0% {
    color: #e60053;
  }

  /* line 600, ../scss/_base.scss */
  25% {
    color: #9a00e6;
  }

  /* line 601, ../scss/_base.scss */
  50% {
    color: #e600d2;
  }

  /* line 602, ../scss/_base.scss */
  100% {
    color: #e60000;
  }
}

/*
| Global variables
*/
/* line 14, ../scss/_menu.scss */
.header-main {
  position: relative;
  overflow: hidden;
  background-color: #61C5AA;
  height: 58px;
  width: 100%;
}

/* line 23, ../scss/_menu.scss */
.header-main__branding {
  padding: 15px 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
/* line 29, ../scss/_menu.scss */
.header-main__branding a {
  display: block;
  height: 28px;
}

/* line 36, ../scss/_menu.scss */
.main-top {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 4;
}

/* line 42, ../scss/_menu.scss */
.main-navigation {
  background-color: #fff;
}
/* line 45, ../scss/_menu.scss */
.main-navigation ul {
  display: block;
  height: 40px;
  margin: 0px;
  padding: 0px;
}
/* line 52, ../scss/_menu.scss */
.main-navigation ul li {
  display: inline-block;
}
/* line 56, ../scss/_menu.scss */
.main-navigation ul li a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 15px;
  color: #737373;
  font-style: normal;
}

/* line 75, ../scss/_menu.scss */
.nav-main {
  position: relative;
  overflow: hidden;
  display: block;
  right: 0;
}
/* line 81, ../scss/_menu.scss */
.nav-main ul.nav-main__cta {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
}
/* line 88, ../scss/_menu.scss */
.nav-main ul.nav-main__cta li {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
/* line 94, ../scss/_menu.scss */
.nav-main ul.nav-main__cta li a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: auto;
  display: block;
  padding: 8px 15px;
  color: #009CFF;
  border: 2px solid #009CFF;
  margin: 18px 0;
  margin-left: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-weight: 700;
}

/*
| (S)CSS styles for (a)side (secondary) menu on the main content
*/
/* line 5, ../scss/_aside-menu.scss */
.nav-aside-holder {
  height: 100%;
  background-color: white;
}
@media screen and (min-width: 768px) {
  /* line 5, ../scss/_aside-menu.scss */
  .nav-aside-holder {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #dcdfe4;
    float: none;
  }
}

/* line 17, ../scss/_aside-menu.scss */
.nav-aside-bg {
  position: absolute;
  display: block;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 26, ../scss/_aside-menu.scss */
.nav-aside {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 38, ../scss/_aside-menu.scss */
.nav-secondary ul {
  list-style: none;
}
/* line 42, ../scss/_aside-menu.scss */
.nav-secondary ul li i {
  padding-right: 10px;
}
/* line 46, ../scss/_aside-menu.scss */
.nav-secondary ul li a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: auto;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #dcdfe4;
  -webkit-transition: 0.3s background-color ease;
  -moz-transition: 0.3s background-color ease;
  -ms-transition: 0.3s background-color ease;
  -o-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
  /* hover actions */
}
/* line 53, ../scss/_aside-menu.scss */
.nav-secondary ul li a:hover {
  background-color: #1475b3;
  color: white;
  border-bottom: 1px solid #1475b3;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  -ms-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}
/* line 61, ../scss/_aside-menu.scss */
.nav-secondary ul li a.active {
  display: block;
  background-color: #1475b3;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #1475b3;
}
